html {
  height: 100%;
  overflow-y: scroll; }

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #232323; }
  @media screen and (max-width: 552px) {
    body {
      font-size: 18px; } }
  @media screen and (max-width: 320px) {
    body {
      font-size: 14px; } }

.main {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 10px;
  margin-left: 20px; }
  .main .button {
    margin-top: 5px;
    border-radius: 10px;
    font-size: 14px;
    background-color: #1100ff;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    border: 2px solid transparent; }
    .main .button:hover:not([disabled]), .main .button:focus:not([disabled]) {
      background-color: #0b00a7;
      border: 2px solid #1100ff; }
    .main .button:disabled {
      background-color: #0b00a7;
      color: #bbbbbb;
      cursor: not-allowed; }
  @media screen and (max-width: 552px) {
    .main {
      margin-left: 10px; } }
  @media screen and (max-width: 320px) {
    .main {
      margin-left: 5px; } }

.heading {
  margin-top: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between; }
  .heading__group {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start; }
  .heading__title {
    font-size: 36px; }
    @media screen and (max-width: 552px) {
      .heading__title {
        font-size: 30px; } }
    @media screen and (max-width: 320px) {
      .heading__title {
        font-size: 24px; } }
  .heading__subtitle {
    font-size: 24px; }
    @media screen and (max-width: 552px) {
      .heading__subtitle {
        font-size: 20px; } }
    @media screen and (max-width: 320px) {
      .heading__subtitle {
        font-size: 14px; } }
  .heading__ad {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    align-self: center;
    text-align: right;
    margin-right: 20px;
    font-style: italic; }
    @media screen and (max-width: 703px) {
      .heading__ad {
        flex-flow: row nowrap;
        text-align: left;
        margin-top: 10px; } }
    .heading__ad a {
      padding-left: 5px;
      text-decoration: none; }
    .heading__ad a:link, .heading__ad a:visited {
      color: #1100ff; }
    .heading__ad a:hover, .heading__ad a:focus {
      color: #0b00a7;
      outline: none; }
    .heading__ad a:active {
      color: #ffffff; }

.input {
  margin-top: 30px; }
  .input__textbox {
    border: 2px solid transparent; }
    .input__textbox:focus {
      outline: none;
      border: 2px solid #0b00a7; }
  .input__error {
    font-size: 16px;
    margin-top: 10px;
    color: #ff0000; }

.output {
  margin-top: 25px; }

.list__contents, .random__contents {
  margin-top: 5px;
  display: none; }

.list__text, .random__text {
  margin-top: 5px; }
  @media screen and (max-width: 768px) {
    .list__text, .random__text {
      font-size: 18px; } }
  @media screen and (max-width: 552px) {
    .list__text, .random__text {
      font-size: 14px; } }

.remove {
  margin-top: 20px; }
  .remove__dropdown {
    width: 165px;
    border: 2px solid transparent; }
    .remove__dropdown:focus {
      outline: none;
      border: 2px solid #0b00a7; }

.save {
  margin-top: 50px;
  font-size: 16px; }
  @media screen and (max-width: 768px) {
    .save {
      font-size: 14px; } }

/*# sourceMappingURL=styles.css.map */
