@mixin display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flex($args) {
    -webkit-box-flex: $args;
    -webkit-flex: $args;
    -ms-flex: $args;
    flex: $args; 
}

//sass variables
$tablet: "screen and (max-width:768px)";
$ad-break: "screen and (max-width:710px)";
$large-phone: "screen and (max-width:552px)";
$phone: "screen and (max-width:320px)";

html {
	height:100%;
	overflow-y: scroll;
}

body {
    height:100%;
	padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #232323;

    @media #{$large-phone}{
        font-size: 18px;
    }

    @media #{$phone}{
        font-size: 14px;
    }
}

.main {
	height:100%;
	//display: flex;
	@include display-flex();
    flex-flow: column nowrap;
    margin-top: 10px;
    margin-left: 20px;

    .button{
        margin-top: 5px;
        border-radius: 10px;
        font-size: 14px;
        background-color: #1100ff;
        color: #ffffff;
        cursor: pointer;
        outline: none;
        border: 2px solid transparent;

        &:hover, &:focus{
            &:not([disabled]){
                background-color: #0b00a7;
                border: 2px solid #1100ff;
            }
            
        }

        &:disabled{
            background-color: #0b00a7;
            color: #bbbbbb;
            cursor: not-allowed;
        }
    }

    @media #{$large-phone}{
        margin-left: 10px;
    }

    @media #{$phone}{
        margin-left: 5px;
    }

    
}



.heading{
    margin-top: 10px;
    @include display-flex();
    flex-flow: row wrap;
    justify-content: space-between;
    

    &__group{
        @include display-flex();
        flex-flow: column nowrap;
        align-items: flex-start; 
    }

    &__title{
        font-size: 36px;

        @media #{$large-phone}{
            font-size: 30px;
        }

        @media #{$phone}{
            font-size: 24px;
        }
    }

    &__subtitle{
        font-size: 24px;

        @media #{$large-phone}{
            font-size: 20px;
        }

        @media #{$phone}{
            font-size: 14px;
        }
    }

    &__ad{
        @include display-flex();
        flex-flow: column nowrap;

        align-self: center;
        text-align: right;
        margin-right: 20px;
        font-style: italic;

        @media #{$ad-break}{
            flex-flow: row nowrap;
            text-align: left;
            margin-top: 10px;
        }

        a{
            padding-left: 5px;
            text-decoration: none;
        }

        a:link,a:visited{
           color: #1100ff; 
        }

        a:hover,a:focus{
           color: #0b00a7;
           outline: none;
        }

        a:active{
            color: #ffffff;
        }
    }
}

.input{
    margin-top: 30px;

    &__textbox{
        border: 2px solid transparent;

        &:focus{
            outline: none;
            border: 2px solid #0b00a7;
        }
    }

    &__error{
        font-size: 16px;
        margin-top: 10px;
        color: #ff0000;
    }
}

.output{
    margin-top: 25px;
}

.list,.random{
    
    &__contents{
        margin-top: 5px;
        display:none;
    }

    &__text{
        margin-top: 5px;

        @media #{$tablet}{
            font-size: 18px;
        }

        @media #{$large-phone}{
            font-size: 14px;
        }
    }

    input[type=number]{
        border: 2px solid transparent;

        &:focus{
            outline: none;
            border: 2px solid #0b00a7;
        }
    }
}

.remove{
    margin-top: 20px;

    &__dropdown{
        width: 165px;
        border: 2px solid transparent;

        &:focus{
            outline: none;
            border: 2px solid #0b00a7;
        }
    }
}

.save{
    margin-top: 50px;

    font-size: 16px;

    @media #{$tablet}{
        font-size: 14px; 
    }
}